@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    <a href="https://goo.gl/maps/eLj9a2ZN1r36fKWV8" target="_blank">
        <i class="fa fa-map-marker fa-3x "></i>
    </a>
    <a class="text-left  text-dark" href="https://goo.gl/maps/eLj9a2ZN1r36fKWV8" target="_blank">
        14 Ramo Bulding,Omar Ibn El-Khatab ST,Nasr City

    </a>
</address>

<address>
    <strong>Support:</strong>   <a href="http://armytechgroup.com/"> ArmyTech Website </a><br />
    <strong>WhatsApp:</strong> <a href="https://wa.me/01033100144">01033100144‏ </a>
</address>